<!DOCTYPE html>
<html>
    <head>
        <title>hello world</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
                height: 100%;
            }
            /* Optional: Makes the sample page fill the window. */
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            .selector {
                top: 30px;
                right: 30px;
                position: fixed;
                z-index: 99;
                background: whitesmoke;
                border: gainsboro;
                border-radius: 5px;
            }

            .selection {
                padding: 15px 30px;
                transition: all;
                transition-duration: 0.5s;
            }

            .selection:hover {
                background: gainsboro;
                transition: all;
                transition-duration: 0.5s;
            }

            input {
                border: gainsboro;
                border-radius: 2px;
            }

            p {
                margin: 0px 0px 10px 0px !important
            }

            .teamselect {
                margin: 15px 30px
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="map"></div>
        <div class="selector">
            <select name="teamselect" id="teamselect" class="teamselect">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
                <div class="selection madisonSquare" id="madisonSquare"><p>Madison Square</p><input type="text" name="msinput" id="msinput" /></div>
            <div class="selection restaurant" id="restaurant"><p>Expensive Restaurant on Broadway</p><input type="text" name="sixoneinput" id="sixoneinput" /></div>
            <div class="selection stores" id="stores"><p>Stores on 6th Avenue</p><input type="text" name="sixtwoinput" id="sixtwoinput" /></div>
            <div class="selection church" id="church"><p>The Church</p><input type="text" name="churchinput" id="churchinput" /></div>
        </div>
        <script>
            let map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 40.741535, lng: -73.987038},
                    zoom: 18
                });
            }

            const Save = _ => {
              $.ajax({
                method: "PUT",
                url:'api/' + $("#teamselect").val(),
                data: {
                  madisonSquare: $("#msinput").val(),
                  restaurant: $("#sixoneinput").val(),
                  stores: $("#sixtwoinput").val(),
                  church: $("#churchinput").val()
                }
              }).done(data => {
                console.log("success");
              }).fail(_ => {
                console.log({
                  madisonSquare: $("#msinput").val(),
                  restaurant: $("#sixoneinput").val(),
                  stores: $("#sixtwoinput").val(),
                  church: $("#churchinput").val()
                });
              });
            }

            $("#madisonSquare").click(_ => map.panTo({lat:40.741535, lng: -73.987038}))
            $("#restaurant").click(_ => map.panTo({lat:40.743247, lng: -73.988541}))
            $("#stores").click(_ => map.panTo({lat:40.749778, lng: -73.987736}))
            $("#church").click(_ => map.panTo({lat:40.743930, lng: -73.990040}))

            $("#msinput").change(Save)
            $("#sixoneinput").change(Save)
            $("#sixtwoinput").change(Save)
            $("#churchinput").change(Save)
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= id %>&callback=initMap"
            async defer></script>
    </body>
</html>